.Products{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
}

.ProductsCardWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
  margin: 20px;
}
